.shine {
    animation: blink 1s 1;
}


@keyframes blink {
    0% {
        filter: brightness(200);
        color: white;
    }
    20% { 
        transform: translateY(-10%);
        filter: brightness(0); 
    }
    100% { 
        transform: translateY(0%);
        filter: brightness(0); 
    }
}