#scene {
    position: relative;
    width: 700px;
    height: 700px;
    margin: 40px auto;
}

#reset {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
#resetscene {
    position: fixed;
    z-index: 1000;
    bottom: 80px;
    left: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.e {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    transition: all ease 1s;
    user-select: none;
    transition: translate(-50%,-50%);
}
.e:hover {
    cursor: pointer;
    filter: brightness(1.2);
}
.e:active {
    filter: brightness(1.6);
}
.e:focus-visible {
    outline: 4px solid blue;
}


.items {
    background: blue;
    color: white;
}
.step {
    background: grey;
}








